@import '../node_modules/hamburgers/dist/hamburgers.min.css';
@import '../node_modules/flickity/css/flickity.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue: #08265a;
  --green: #07522c;
  --black: #000;
  --bg-grey: #d0d0d04f;
 
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
  
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins Light", sans-serif;
  font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins Regular", sans-serif;
}


@font-face {
  font-family: "Poppins ExtraLight";
  font-weight: 200;
  src: url("../src/fonts/Poppins-ExtraLight.woff2") format(woff2),
      url("../src/fonts/Poppins-ExtraLight.woff") format(woff);
}

@font-face {
  font-family: "Poppins Light";
  font-weight: 300;
  src: url("../src/fonts/Poppins-Light.woff2") format(woff2),
      url("../src/fonts/Poppins-Light.woff") format(woff);
}

@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  src: url("../src/fonts/Poppins-Regular.woff2") format(woff2),
      url("../src/fonts/Poppins-Regular.woff") format(woff);
}

@font-face {
  font-family: "Poppins Medium";
  font-weight: 500;
  src: url("../src/fonts/Poppins-Medium.woff2") format(woff2),
      url("../src/fonts/Poppins-Medium.woff") format(woff);
}

@font-face {
  font-family: "Poppins Bold";
  font-weight: 700;
  src: url("../src/fonts/Poppins-Bold.woff2") format(woff2),
      url("../src/fonts/Poppins-Bold.woff") format(woff);
}

.logo img {
  width: 300px;
  aspect-ratio: 420 / 200;
}

.profile-icon img {
  width: 225px;
}

/* From Uiverse.io by BHARGAVPATEL1244 */ 
button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: var(--blue);
  color: ghostwhite;
  text-transform: uppercase;
 }
 
 button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 button:hover span {
  color: #fff;
 }
 
 button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 button::before {
  content: "";
  background: var(--green);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button:hover::before {
  transform: translate3d(100%, 0, 0);
 }

 .carousel-cell {
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}


/* PAHARMACEUTICAL BUTTONS */
.custom-btn {
  @apply max-w-fit m-auto bg-white p-[10px_30px] rounded-2xl text-2xl font-poppins-regular text-blue uppercase; 
}

.card {
  @apply flex flex-col bg-cover bg-center bg-no-repeat px-7 rounded-[40px];
}

.card-read-more {
  @apply font-poppins-light text-xl text-white underline pt-4 pb-4 mt-auto;
}

.card-title {
  @apply font-poppins-medium text-2xl text-white pt-5;
}

.card-text {
  @apply font-poppins-light text-xl text-white pt-5;
}

/* TEAM CARD DETAILS */

.team-card {
  @apply bg-slate-400 p-[50px_40px] md:rounded-[50px];
}

.card-details {
  @apply flex items-center justify-center w-[280px] h-[280px] mx-auto md:rounded-[50px];
}

.card-info h2 {
  @apply font-poppins-medium text-3xl text-blue uppercase;
}

.card-info h3 {
  @apply font-poppins-light text-xl text-blue;
}

.card-info p {
  @apply text-blue text-xl font-poppins-light pt-3 pb-3;
}

.team-read-more {
  @apply text-blue text-xl font-poppins-light underline;
}

/* MEET TEAM INPUT FIELDS */
.input {
  height: 40px;
  border-radius: 8px;
  border: 2px solid hsl(236, 92%, 66%);
  outline: none;
  transition: 200ms ease-in;
  padding-left: 1rem;
}

.input:focus {
  border-bottom: 4px solid hsl(236, 92%, 66%);
  padding-top: 2px;
}

.input::placeholder {
  color: hsl(236, 92%, 66%);
  opacity: 0.5;
}

/* TESTIMONIAL CARD */

.testimonial-card {
  @apply border-4 p-[35px_30px] rounded-[20px];
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: inset 0 -2px 8px #0003;
}

.testimonial-card h2 {
  @apply text-3xl pb-4 text-blue;
}

.testimonial-card p {
  @apply text-blue text-xl font-poppins-light p-[10px_0];
}

.star-ratings {
  @apply flex items-center justify-end pt-[20px];
}

.star-ratings img {
  @apply w-[20px] h-[20px];
}

.posts-text p,
.sector-text p {
  @apply text-xl font-poppins-light mb-5;
}

.sub-sectors h2 {
  @apply text-blue font-poppins-medium text-3xl uppercase pb-4;
}

.sub-sectors p {
  @apply text-xl font-poppins-light pb-10;
}
 


 



 

