@import '../node_modules/hamburgers/dist/hamburgers.min.css';
@import '../node_modules/flickity/css/flickity.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue: #08265a;
  --green: #07522c;
  --black: #000;
  --bg-grey: #d0d0d04f;
  --lightBlue: #238DC1;

}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
  
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins Light", sans-serif;
  font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins Regular", sans-serif;
}


@font-face {
  font-family: "Poppins ExtraLight";
  font-weight: 200;
  src: url("../src/fonts/Poppins-ExtraLight.woff2") format(woff2),
      url("../src/fonts/Poppins-ExtraLight.woff") format(woff);
}

@font-face {
  font-family: "Poppins Light";
  font-weight: 300;
  src: url("../src/fonts/Poppins-Light.woff2") format(woff2),
      url("../src/fonts/Poppins-Light.woff") format(woff);
}

@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  src: url("../src/fonts/Poppins-Regular.woff2") format(woff2),
      url("../src/fonts/Poppins-Regular.woff") format(woff);
}

@font-face {
  font-family: "Poppins Medium";
  font-weight: 500;
  src: url("../src/fonts/Poppins-Medium.woff2") format(woff2),
      url("../src/fonts/Poppins-Medium.woff") format(woff);
}

@font-face {
  font-family: "Poppins Bold";
  font-weight: 700;
  src: url("../src/fonts/Poppins-Bold.woff2") format(woff2),
      url("../src/fonts/Poppins-Bold.woff") format(woff);
}

.logo img {
  @apply w-[300px] mx-auto;
}

/* HAMBURGER ICON */
.menu-icon {
      @apply fixed top-4 right-[100px] z-[10000] rounded-full bg-blue mr-5 flex items-center;
    }

/* VIDEO */
.video-container {
  @apply max-w-full relative overflow-hidden;
}

.video-container iframe, 
.video-container video {
  @apply w-full h-auto;
}

/* MOBILE MENU */
.main-mobile-menu {
  @apply hidden relative w-[500px] bg-white mt-12 rounded-tl-[23px] rounded-bl-[23px] text-2xl font-poppins-medium z-10 text-white py-6 shadow-mobileBackground overflow-hidden;

  /* Positioning adjustments to fix the overflow issue */
  position: fixed; /* Fixed positioning relative to the viewport */
  top: 80px; /* Align it below the header */
  right: 0; /* Align the menu to the right edge */
  z-index: 9999; /* Ensure it appears above other content */
  
  /* Restrict the width to 100% of the viewport */
  max-width: 100vw;
  box-sizing: border-box; /* Include padding and border in width calculation */

  /* Add max-height and make it scrollable */
  max-height: calc(100vh - 80px); /* Prevent the menu from exceeding the viewport height */
  overflow-y: auto; /* Add vertical scrolling if the content exceeds the max height */
}

.flickity-prev-next-button {
  @apply hidden;
}

.menu-icon img {
  @apply w-[80px] h-[80px];
}

/* MOBILE MENU ITEMS */
.mobile-menu-items {
  @apply w-[350px] py-[15px] mx-auto text-blue shadow-button font-poppins-bold text-xl pl-5;
}

.mobile-menu-items a {
  @apply block transition-transform duration-300 ease-in-out transform hover:scale-110;
}

/* SOCIAL ICONS */
.social-icons {
  @apply mx-auto flex items-center justify-center space-x-8 p-[30px];
}

.social-icons img {
  @apply w-[60px] h-[60px] mx-auto;
}

/* WELCOME SECTION */
.confident-icons img {
  @apply mx-auto;
}

.confident-icons h3 {
  @apply text-sm text-center text-blue font-poppins-light;
}

/* CIRCLES/HIGHLIGHTS WITH IMAGES */
 
.circle-image {
  @apply relative inline-block w-72 h-72 transform duration-300 ease-out hover:scale-110;
}
 .highlight-circle {
  @apply w-full h-full object-cover rounded-full z-0;
 }

 .highlight-image {
  @apply absolute inset-0 flex items-center justify-center overflow-hidden rounded-full;
 }

 /* STUDENT HIGHLIGHT */
 .student-highlight-image {
  @apply relative inline-block w-48 h-48;
}
 .highlight-student-image {
  @apply w-full h-full object-cover rounded-full z-0;
 }

 .highlight-image-student {
  @apply absolute inset-0 flex items-center justify-center overflow-hidden rounded-full;
 }
/* OUR TEAM */
.team-image {
  @apply relative inline-block w-48 h-48;  /* Reduce image size */
  margin: 0 1rem; /* Added horizontal gap between circles if displayed in a row */
}

.team-image-circle {
  @apply w-full h-full object-cover rounded-full z-0;
}

.team-member-image {
  @apply absolute inset-0 flex items-center justify-center overflow-hidden rounded-full;
}

.member-name {
  @apply mt-2 text-center;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


 /* LATEST NEWS */
 .news-heading h2 {
  @apply text-white text-center text-3xl font-poppins-bold px-7;
 }

/* SCHOOL ACCREDITATION */

.acreditation-headline h2 {
  @apply text-3xl text-blue text-center font-poppins-bold pb-3;
}
 
.accreditation-logo {
  @apply grid grid-cols-2 md:grid-cols-4 gap-2 max-w-5xl mx-auto;
}

.accreditation-logo img {
  @apply flex items-center justify-center p-2 h-24 object-contain;
}

/* ABOUT SECTION */


/* FOOTER SECTION */

.col-address ul li {
  @apply text-white text-xl font-poppins-regular;
}

.col-links ul li a {
  @apply text-white text-xl font-poppins-regular;
}
  
/* FOOTER-SOCIAL-LINKS */
.footer-social-links img {
  @apply w-14 h-14 mb-2;
}

/* NEWS */
 
.news-carousel-cell {
  @apply min-h-[600px] mr-[10px] pr-8 xm:w-[75%] sm:w-[50%] md:w-[33.33%];
 }
 
 .flickity-page-dot {
  @apply bg-white;
}

  .flickity-page-dots {
    @apply bottom-2 py-4;
  } 

 .news-card {
  @apply bg-white border-2;
 }
  .card-details h2 {
    @apply text-2xl text-blue font-poppins-medium;
  }

  .card-details h3 {
    @apply text-xl text-blue font-poppins-regular;
  }

  .card-details p {
    @apply text-base text-blue font-poppins-light py-3;
  }

  .link a {
    @apply text-blue
  }

  /* CONTACT SECTION */
  .message-col h2,
  .guardian-details h2 {
    @apply text-xl text-blue font-poppins-regular pb-2;
  }

  .guardian-details p,
  .message-col p {
    @apply text-blue text-base font-poppins-regular py-2;
  }

  .contact-details h3 {
    @apply text-base text-blue font-poppins-medium;
  }

  .contact-details ul li {
    @apply text-base text-blue font-poppins-light;
  }

  ul {
    @apply pb-3;
  }

  .contact-grid {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .main-form input,
  textarea {
    @apply placeholder-blue text-base font-poppins-regular;
  }

  /* HISTORY CAROUSEL FADE */ 
 
  .historycarousel-cell {
    @apply w-full min-h-[600px] mr-[10px] flex items-center justify-center;
    opacity: 0; /* Ensure it fades in/out */
    transition: opacity 1s ease-in-out; 
  }
  
  .historyCarousel.is-selected .historycarousel-cell {
    @apply opacity-[1];
  }
  
  .carousel-cell-image {
    @apply max-h-full block;
  }

  .carousel-text {
    @apply absolute left-0 right-0 bottom-7;
  }

  .carousel-text h2{
    @apply text-3xl text-blue text-center font-poppins-bold;
  }
  
  /* RIGHT CARD */
  .history-carousel {
    @apply bg-blue py-4 my-8 absolute -left-3 right-0 top-0;
  }
  
  .history-carousel-cell {
    @apply w-full h-full flex flex-col justify-center items-center;
  }

.history-carousel-cell h2 {
  @apply text-white text-center text-3xl;
}

.history-carousel-cell p {
  @apply text-white text-base font-poppins-light px-8 py-5;
}




 


 



 

