@import '../node_modules/hamburgers/dist/hamburgers.min.css';
@import '../node_modules/flickity/css/flickity.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --blue: #08265a;
  --green: #07522c;
  --black: #000;
  --bg-grey: #d0d0d04f;
 
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
  
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins Light", sans-serif;
  font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins Regular", sans-serif;
}


@font-face {
  font-family: "Poppins ExtraLight";
  font-weight: 200;
  src: url("../src/fonts/Poppins-ExtraLight.woff2") format(woff2),
      url("../src/fonts/Poppins-ExtraLight.woff") format(woff);
}

@font-face {
  font-family: "Poppins Light";
  font-weight: 300;
  src: url("../src/fonts/Poppins-Light.woff2") format(woff2),
      url("../src/fonts/Poppins-Light.woff") format(woff);
}

@font-face {
  font-family: "Poppins Regular";
  font-weight: 400;
  src: url("../src/fonts/Poppins-Regular.woff2") format(woff2),
      url("../src/fonts/Poppins-Regular.woff") format(woff);
}

@font-face {
  font-family: "Poppins Medium";
  font-weight: 500;
  src: url("../src/fonts/Poppins-Medium.woff2") format(woff2),
      url("../src/fonts/Poppins-Medium.woff") format(woff);
}

@font-face {
  font-family: "Poppins Bold";
  font-weight: 700;
  src: url("../src/fonts/Poppins-Bold.woff2") format(woff2),
      url("../src/fonts/Poppins-Bold.woff") format(woff);
}

.logo img {
  @apply w-[300px] aspect-custom;
}

.home-slider {
  position: relative;  
  overflow: hidden; 
  height: 240px;
  background-color: #032765;
}

.lower-curve {
  @apply bg-[url('/images/lower-curve.svg')] bg-no-repeat bg-cover bg-center w-full absolute bottom-[150px]; 
  height: 90px; 
}


.carousel {
  @apply absolute top-0 left-0 w-full h-full;
}

.carousel-cell {
  @apply w-full h-full flex flex-col justify-center items-center text-4xl text-white;
}

.flickity-prev-next-button.previous,
.flickity-prev-next-button.next {
  @apply hidden;
}

/* SEARCH */
/* From Uiverse.io by alexruix */ 
.group {
  @apply flex leading-7 items-center relative w-80 mx-auto pb-[30px];
 }
 
 .input {
  @apply w-full h-10 leading-7 pt-5 pb-5 pl-9 bg-blue outline-none text-white rounded-lg border-2 border-transparent;
 }
 
 .input::placeholder {
  @apply text-white pl-2 text-[18px];
 }
 
 .input:focus, input:hover {
  @apply outline-none bg-blue;
 }
 
 .icon {
@apply absolute left-4 w-6 h-6 fill-white;
 }

/* VIDEO */
.video-container {
  @apply max-w-full relative overflow-hidden;
}

.video-container iframe, 
.video-container video {
  @apply w-full h-auto;
}

/* MENU TOGGLE ICONS */
.main-mobile-menu {
  @apply hidden w-full ml-[35px] bg-white mt-8 rounded-tl-[23px] rounded-bl-[23px] text-2xl font-poppins-medium z-10 text-white py-6 shadow-mobileBackground;
}

.menu-icon img {
  @apply w-[80px] h-[80px];
}

/* MOBILE MENU ITEMS */
.mobile-menu-items {
  @apply w-[350px] p-[15px] rounded-[18px] mx-auto text-center shadow-button;
}

.mobile-menu-items a {
  @apply block transition-transform duration-300 ease-in-out transform hover:scale-110;
}

/* SOCIAL ICONS */
.social-icons {
  @apply mx-auto flex items-center justify-center space-x-8 p-[30px];
}

.social-icons img {
  @apply w-[60px] h-[60px] mx-auto;
}

/* FIND SCHOOL */
.find-school {
  @apply relative flex flex-col items-center; 
}

.find-school-btn {
  @apply absolute right-[-108px] transform -translate-y-1/2 -rotate-90 border-4 rounded-t-[30px] border-lightBlue text-lightBlue py-2 px-4 font-poppins-light;
  top: 50%;
}


/* SCHOOLS SUMMARY */

.schools-summary {
  @apply bg-[url('/images/school-bg.png')] bg-cover bg-center bg-no-repeat h-[650px];
}

.schools-curve {
  @apply bg-[url('/images/lower-curve2.svg')] bg-no-repeat bg-cover bg-center w-full absolute bottom-[560px];
  height: 90px;
}

  /* STUDENT */

 .student-heading h2 {
  @apply text-4xl text-lightBlue text-center font-poppins-medium py-9; 
 }

 .schools-lower-curve {
  @apply bg-[url('/images/whitestrip.png')] bg-no-repeat bg-cover bg-center h-[90px] w-[100%] absolute top-[-6%] bottom-0;
}


/* LATEST NEWS */
.news-section {
  @apply bg-blue;
}
.latest-news {
  @apply text-4xl text-white text-center font-poppins-medium
}

.carousel-cell .main {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

 
 
 




 


 



 

